<div class="alto">
  <div class="carousel">
    <div class="carousel-item">
      <div class="image-container">
        <img [src]="carouselItems[currentIndex].imageUrl" alt="Image">
      </div>
      <div class="text-container">
        <h3>{{ carouselItems[currentIndex].title }}</h3>
        <p>{{ carouselItems[currentIndex].description1 }}</p>
        <p>{{ carouselItems[currentIndex].description2 }}</p>
      </div>
    </div>

    <button (click)="showNext()">Mostrar Siguiente</button>
  </div>
</div>
